<h1>Nosotros</h1>
<p class="parrafos">
  <span class="span_about">Este proyecto Ruby on Rails es un tutorial para el proyecto <a href="https://github.com/hexacta/rails-dev-box" target="_blank"><strong>GEMA</strong></a></span>
</p>
<a href="http://localhost:3000/users">Inicio</a>